<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:60px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold">¿Cuenta con los archivos de la FIEL?</v-card-title>
            
            <v-card-subtitle></v-card-subtitle>
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
       <v-radio-group v-model="radios">
      <template v-slot:label>
        <div>Su <strong>respuesta</strong></div>
      </template>
      <v-radio value="Google" color="blue">
        <template v-slot:label>
          <div>Si tengo acceso a mi <strong class="yellow--text">FIEL</strong></div>
        </template>
      </v-radio>
      <v-radio value="Duckduckgo" color="blue">
        <template v-slot:label>
          <div>No,  <strong class="orange--text">no tengo acceso a mi FIEL</strong></div>
        </template>
      </v-radio>
    </v-radio-group>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
        checkbox: false,
        radios: 'Duckduckgo',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {}
}