<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:75px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">Captura tu Registro Federal de Contribuyente</v-card-title>
            <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-25px" color="#b3d4fc" text  v-on="on">Ver ejemplo de RFC</v-btn>
                </template>
                <span>Ejemplo: ULISES CUEVAS PÉREZ, R.F.C CUPU800825569</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver ejemplo de RFC</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
         <v-text-field class="text-uppercase" style="margin-top:8px"
              v-mask="'XXXX ###### XXX'"
              v-model="rfc"
              @keyup="setRFC"
              :prepend-inner-icon="'folder_shared'"
              solo
              label="RFC">
      </v-text-field>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
import { VueMaskDirective   } from 'v-mask'

export default {
    components: {

    },
     directives: {
      'mask': 
      VueMaskDirective
    },
    data: () => ({
         rfc:'',
        checkbox: false,
        radios: 'Duckduckgo',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {
        setRFC(){
            this.$store.state.proceso.datosRFC.rfc= this.rfc;
        }
    }
}
</script>
