<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:73px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cuenta con certificados para emitir facturas?</v-card-title>
            <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-25px" color="#b3d4fc" text  v-on="on">Ver ejemplo</v-btn>
                </template>
                <span>El Certificado de Sello Digital (CSD) es un archivo digital emitido por el SAT que se usa específicamente para generar los Comprobantes Fiscales Digitales por Internet (CFDI).</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver ejemplo</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
    <v-radio-group v-model="radios" @change="cambioEstatus">
      <template v-slot:label>
        <div style="margin-top:-13px">Su <strong>respuesta</strong></div>
      </template>
      <v-radio value="Google" color="blue">
        <template v-slot:label>
          <div>Si tengo certificados del SAT <strong class="orange--text">para emitir facturas</strong></div>
        </template>
      </v-radio>
      <v-radio value="Duckduckgo" color="blue" >
        <template v-slot:label>
          <div>No tengo,  <strong class="yellow--text">no puedo facturar</strong></div>
        </template>
      </v-radio>
    </v-radio-group>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
         checkbox: false,
        radios: 'Duckduckgo',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {
      cambioEstatus(){
            //console.log(this.radios);
            if(this.radios=="Duckduckgo"){
              this.$store.state.proceso.datosFiel.c= false;
              this.$store.state.proceso.datosFiel.d= true;
              }
            else{
              this.$store.state.proceso.datosFiel.c= true;
              this.$store.state.proceso.datosFiel.d= false;
              }
        }
    }
}
</script>