<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:75px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Conoce su contraseña para acceder al SAT?</v-card-title>
             <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-25px" color="#b3d4fc" text  v-on="on">Ver ejemplo</v-btn>
                </template>
                <span>La contraseña del SAT, antes conocida como CIEC (Clave de Identificación Electrónica Confidencial), es un mecanismo de acceso a diferentes aplicaciones y servicios en línea que ofrece el SAT. La contraseña está conformada por tu RFC y una palabra clave para identificarte.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver ejemplo</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
        <v-radio-group v-model="radios" @change="cambioEstatus" style="margin-top:-7px">
      <template v-slot:label>
        <div>Su <strong>respuesta</strong></div>
      </template>
      <v-radio value="Google" color="blue">
        <template v-slot:label>
          <div>Si me se la <strong class="orange--text">contraseña</strong></div>
        </template>
      </v-radio>
      <v-radio value="Duckduckgo" color="blue">
        <template v-slot:label>
          <div>No,  <strong class="yellow--text">ni idea</strong></div>
        </template>
      </v-radio>
    </v-radio-group>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
         checkbox: false,
        radios: 'Duckduckgo',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {
      cambioEstatus(){
           // console.log(this.radios);
            if(this.radios=="Duckduckgo"){
              this.$store.state.proceso.datosRFC.c= false;
              this.$store.state.proceso.datosRFC.d= true;
              }
            else{
              this.$store.state.proceso.datosRFC.c= true;
              this.$store.state.proceso.datosRFC.d= false;
              }
        }
    }
}
</script>
