<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:80px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cuenta con Registro Federal de Contribuyente?</v-card-title>
             <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-25px" color="#b3d4fc" text  v-on="on">Ver ejemplo de RFC</v-btn>
                </template>
                <span>R.F.C. es el acrónimo de Registro Federal de Contribuyentes, el cual es un documento fiscal que necesita cualquier persona física, moral o residente que desee realizar alguna actividad económica lícita en México.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver ejemplo de RFC</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
        <v-radio-group v-model="radios" @change="cambioEstatus">
            <template v-slot:label>
                <div>Su <strong>respuesta</strong></div>
            </template>
            <v-radio value="Google" color="blue">
                <template v-slot:label>
                    <div>Claro que si tengo <strong class="orange--text">RFC</strong></div>
                </template>
            </v-radio>
            <v-radio value="Duckduckgo" color="blue">
                <template v-slot:label>
                    <div>No he tenido la necesidad de <strong class="yellow--text">solicitarlo</strong></div>
                </template>
            </v-radio>
        </v-radio-group>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
         checkbox: false,
        radios: 'Google',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {
        cambioEstatus(){
            //console.log(this.radios);
            if(this.radios=="Duckduckgo"){
              this.$store.state.bTengoRFC=false;
              this.$store.state.proceso.datosRFC.a= false;
              this.$store.state.proceso.datosRFC.b= true;
              //console.log("no tengo RFC");
              }
            else{
              this.$store.state.bTengoRFC=true;
              
              this.$store.state.proceso.datosRFC.a= true;
              this.$store.state.proceso.datosRFC.b= false;
              //console.log("si tengo RFC");
              }
        }
    }
}
</script>
