
<template>
    <v-row dense>
        <v-col cols="12">
          <v-card style="height:78px" color="blue" dark >
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cuál es el estado?</v-card-title>
             <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn color="#b3d4fc" text  v-on="on">¿Para que sirve?.</v-btn>
                </template>
                <span>Es para identificar la oficina del SAT más cercana en caso de requerir algún trámite fiscal donde tenga que acudir.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>¿Para que sirve?.</v-card-subtitle> -->
          </v-card>
        </v-col>
        <v-col  cols="12">
           <!-- contenido -->
                  <v-row dense>
                   <v-col cols="12" sm="8">
                    <v-overflow-btn
                      class="my-2"
                      :items="dropdown_estados"
                      label="Seleccionar..."
                      editable
                      background-color="white"
                      item-value="text"
                      filled
                      hint="Seleccione su estado"
                      @change="selectOption"
                      v-model="estado"
                      loading
                      
                    ></v-overflow-btn>
                  </v-col>
                  </v-row>
           <!-- fin contenido -->
        </v-col>
      </v-row>
</template>



<script>



  export default {
    components: {
     
    },
    data: () => ({
      estado:'Seleccionar',
      address: '',
      dialogPropuesta:true,
      e6: '1',
      dialog: false,
      dropdown_estados: [
        { text: 'AGUASCALIENTES', callback: () => console.log('delete') },
        { text: 'BAJA CALIFORNIA', callback: () => console.log('delete') },
        { text: 'BAJA CALIFORNIA SUR', callback: () => console.log('delete') },
        { text: 'CAMPECHE', callback: () => console.log('delete') },
        { text: 'COAHUILA DE ZARAGOZA', callback: () => console.log('delete') },
        { text: 'COLIMA', callback: () => console.log('delete') },
        { text: 'CHIAPAS', callback: () => console.log('delete') },
        { text: 'CHIHUAHUA', callback: () => console.log('delete') },
        { text: 'CIUDAD DE MÉXICO', callback: () => console.log('delete') },
        { text: 'DURANGO', callback: () => console.log('delete') },
        { text: 'GUANAJUATO', callback: () => console.log('delete') },
        { text: 'GUERRERO', callback: () => console.log('delete') },
        { text: 'HIDALGO', callback: () => console.log('delete') },
        { text: 'JALISCO', callback: () => console.log('delete') },
        { text: 'MÉXICO', callback: () => console.log('delete') },
        { text: 'MICHOACÁN DE OCAMPO', callback: () => console.log('delete') },
        { text: 'MORELOS', callback: () => console.log('delete') },
        { text: 'NAYARIT', callback: () => console.log('delete') },
        { text: 'NUEVO LEÓN', callback: () => console.log('delete') },
        { text: 'OAXACA', callback: () => console.log('delete') },
        { text: 'PUEBLA', callback: () => console.log('delete') },
        { text: 'QUERÉTARO', callback: () => console.log('delete') },
        { text: 'QUINTANA ROO', callback: () => console.log('delete') },
        { text: 'SAN LUIS POTOSÍ', callback: () => console.log('delete') },
        { text: 'SINALOA', callback: () => console.log('delete') },
        { text: 'SONORA', callback: () => console.log('delete') },
        { text: 'TABASCO', callback: () => console.log('delete') },
        { text: 'TAMAULIPAS', callback: () => console.log('delete') },
        { text: 'TLAXCALA', callback: () => console.log('delete') },
        { text: 'VERACRUZ DE IGNACIO DE LA LLAVE', callback: () => console.log('delete') },
        { text: 'YUCATÁN', callback: () => console.log('delete') },
        { text: 'ZACATECAS', callback: () => console.log('delete') },
      ],
      
    }),
    computed: {

    },
      mounted() {

        },
    methods: {

     selectOption(){
           // console.log('selected'+ this.estado)
            
            this.$store.state.proceso.domicilio.estado= this.estado;
        }
    }
  }
</script>


