<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:75px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cuenta con la firma electrónica avanzada FIEL?</v-card-title>
             <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-25px" color="#b3d4fc" text  v-on="on">Ver ejemplo FIEL</v-btn>
                </template>
                <span>La e.firma el conjunto de datos y caracteres que te identifica al realizar trámites y servicios por internet en el SAT. Estos archivos son entregados en una memoria USB en las oficinas del SAT únicamente al contribuyente o apoderado legal.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver ejemplo FIEL</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
        <v-radio-group v-model="radios" @change="cambioEstatus">
      <template v-slot:label>
        <div style="margin-top:-8px">Su <strong>respuesta</strong></div>
      </template>
      <v-radio value="Google" color="blue">
        <template v-slot:label>
          <div>Si tengo mi firma electronica avanzada <strong class="orange--text">FIEL</strong></div>
        </template>
      </v-radio>
      <v-radio value="Duckduckgo" color="blue">
        <template v-slot:label>
          <div>No,  <strong class="yellow--text">no tengo</strong></div>
        </template>
      </v-radio>
    </v-radio-group>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
        checkbox: false,
        radios: 'Duckduckgo',
        switchMe: false,
    }),
    computed: {},
    mounted() {},
    methods: {
      cambioEstatus(){
           // console.log(this.radios);
            if(this.radios=="Duckduckgo"){
              this.$store.state.proceso.datosFiel.a= false;
              this.$store.state.proceso.datosFiel.b= true;
              }
            else{
              this.$store.state.proceso.datosFiel.a= true;
              this.$store.state.proceso.datosFiel.b= false;
              }
        }
    }
}
</script>
