<template>
<v-row dense>
    <v-col cols="12">
        <v-card style="height:78px" color="blue" dark>
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cuál es el pais de residencia actual?</v-card-title>
            <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-15px" color="#b3d4fc" text  v-on="on">¿Para que sirve?.</v-btn>
                </template>
                <span>Es el país de origen al que pertenece, nos servirá para identificar las responsabilidades fiscales nacionales o extranjeros, además de ofrecerle un asesor en idioma extranjero.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>¿Para que sirve?.</v-card-subtitle> -->
        </v-card>
    </v-col>
    <v-col cols="12">
        <!-- contenido -->
        <v-row dense>
            <v-col cols="12" sm="8">
                <v-overflow-btn class="my-2" 
                :items="dropdown_edit" 
                label="México" 
                editable 
                background-color="white" 
                item-value="text"  
                filled hint="Seleccione su pais" 
                @change="selectOption"
                v-model="pais"
                loading>
                </v-overflow-btn>
            </v-col>
        </v-row>
        <!-- fin contenido -->
    </v-col>
</v-row>
</template>

<script>
export default {
    components: {

    },
    data: () => ({
        pais:'',
        address: '',
        dialogPropuesta: true,
        e6: '1',
        dialog: false,
        dropdown_edit: [{
                text: 'México',callback: () => console.log('list')
            },
            {
                text: ' Afganistán',callback: () => console.log('delete')
            },
            {
                text: 'Islas Åland', callback: () => console.log('delete')
            },
            {
                text: 'Albania',
                callback: () => console.log('delete')
            },
            {
                text: 'Alemania',
                callback: () => console.log('delete')
            },
            {
                text: 'Andorra',
                callback: () => console.log('delete')
            },
            {
                text: 'Angola',
                callback: () => console.log('delete')
            },
            {
                text: 'Anguila',
                callback: () => console.log('delete')
            },
            {
                text: 'Antártida',
                callback: () => console.log('delete')
            },
            {
                text: 'Antigua y Barbuda',
                callback: () => console.log('delete')
            },
            {
                text: 'Arabia Saudita',
                callback: () => console.log('delete')
            },
            {
                text: 'Argelia',
                callback: () => console.log('delete')
            },
            {
                text: 'Argentina',
                callback: () => console.log('delete')
            },
            {
                text: 'Armenia',
                callback: () => console.log('delete')
            },
            {
                text: 'Aruba',
                callback: () => console.log('delete')
            },
            {
                text: 'Australia',
                callback: () => console.log('delete')
            },
            {
                text: 'Austria',
                callback: () => console.log('delete')
            },
            {
                text: 'Azerbaiyán',
                callback: () => console.log('delete')
            },
            {
                text: 'Bahamas (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Bangladés',
                callback: () => console.log('delete')
            },
            {
                text: 'Barbados',
                callback: () => console.log('delete')
            },
            {
                text: 'Baréin',
                callback: () => console.log('delete')
            },
            {
                text: 'Bélgica',
                callback: () => console.log('delete')
            },
            {
                text: 'Belice',
                callback: () => console.log('delete')
            },
            {
                text: 'Benín',
                callback: () => console.log('delete')
            },
            {
                text: 'Bermudas',
                callback: () => console.log('delete')
            },
            {
                text: 'Bielorrusia',
                callback: () => console.log('delete')
            },
            {
                text: 'Myanmar',
                callback: () => console.log('delete')
            },
            {
                text: 'Bolivia, Estado Plurinacional de',
                callback: () => console.log('delete')
            },
            {
                text: 'Bosnia y Herzegovina',
                callback: () => console.log('delete')
            },
            {
                text: 'Botsuana',
                callback: () => console.log('delete')
            },
            {
                text: 'Brasil',
                callback: () => console.log('delete')
            },
            {
                text: 'Brunéi Darussalam',
                callback: () => console.log('delete')
            },
            {
                text: 'Bulgaria',
                callback: () => console.log('delete')
            },
            {
                text: 'Burkina Faso',
                callback: () => console.log('delete')
            },
            {
                text: 'Burundi',
                callback: () => console.log('delete')
            },
            {
                text: 'Bután',
                callback: () => console.log('delete')
            },
            {
                text: 'Cabo Verde',
                callback: () => console.log('delete')
            },
            {
                text: 'Camboya',
                callback: () => console.log('delete')
            },
            {
                text: 'Camerún',
                callback: () => console.log('delete')
            },
            {
                text: 'Canadá',
                callback: () => console.log('delete')
            },
            {
                text: 'Catar',
                callback: () => console.log('delete')
            },
            {
                text: 'Bonaire, San Eustaquio y Saba',
                callback: () => console.log('delete')
            },
            {
                text: 'Chad',
                callback: () => console.log('delete')
            },
            {
                text: 'Chile',
                callback: () => console.log('delete')
            },
            {
                text: 'China',
                callback: () => console.log('delete')
            },
            {
                text: 'Chipre',
                callback: () => console.log('delete')
            },
            {
                text: 'Colombia',
                callback: () => console.log('delete')
            },
            {
                text: 'Comoras',
                callback: () => console.log('delete')
            },
            {
                text: 'Corea (la República Democrática Popular de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Corea (la República de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Côte dIvoire',
                callback: () => console.log('delete')
            },
            {
                text: 'Costa Rica',
                callback: () => console.log('delete')
            },
            {
                text: 'Croacia',
                callback: () => console.log('delete')
            },
            {
                text: 'Cuba',
                callback: () => console.log('delete')
            },
            {
                text: 'Curaçao',
                callback: () => console.log('delete')
            },
            {
                text: 'Dinamarca',
                callback: () => console.log('delete')
            },
            {
                text: 'Dominica',
                callback: () => console.log('delete')
            },
            {
                text: 'Ecuador',
                callback: () => console.log('delete')
            },
            {
                text: 'Egipto',
                callback: () => console.log('delete')
            },
            {
                text: 'El Salvador',
                callback: () => console.log('delete')
            },
            {
                text: 'Emiratos Árabes Unidos (Los)',
                callback: () => console.log('delete')
            },
            {
                text: 'Eritrea',
                callback: () => console.log('delete')
            },
            {
                text: 'Eslovaquia',
                callback: () => console.log('delete')
            },
            {
                text: 'Eslovenia',
                callback: () => console.log('delete')
            },
            {
                text: 'España',
                callback: () => console.log('delete')
            },
            {
                text: 'Estados Unidos (los)',
                callback: () => console.log('delete')
            },
            {
                text: 'Estonia',
                callback: () => console.log('delete')
            },
            {
                text: 'Etiopía',
                callback: () => console.log('delete')
            },
            {
                text: 'Filipinas (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Finlandia',
                callback: () => console.log('delete')
            },
            {
                text: 'Fiyi',
                callback: () => console.log('delete')
            },
            {
                text: 'Francia',
                callback: () => console.log('delete')
            },
            {
                text: 'Gabón',
                callback: () => console.log('delete')
            },
            {
                text: 'Gambia (La)',
                callback: () => console.log('delete')
            },
            {
                text: 'Georgia',
                callback: () => console.log('delete')
            },
            {
                text: 'Ghana',
                callback: () => console.log('delete')
            },
            {
                text: 'Gibraltar',
                callback: () => console.log('delete')
            },
            {
                text: 'Granada',
                callback: () => console.log('delete')
            },
            {
                text: 'Grecia',
                callback: () => console.log('delete')
            },
            {
                text: 'Groenlandia',
                callback: () => console.log('delete')
            },
            {
                text: 'Guadalupe',
                callback: () => console.log('delete')
            },
            {
                text: 'Guam',
                callback: () => console.log('delete')
            },
            {
                text: 'Guatemala',
                callback: () => console.log('delete')
            },
            {
                text: 'Guayana Francesa',
                callback: () => console.log('delete')
            },
            {
                text: 'Guernsey',
                callback: () => console.log('delete')
            },
            {
                text: 'Guinea',
                callback: () => console.log('delete')
            },
            {
                text: 'Guinea-Bisáu',
                callback: () => console.log('delete')
            },
            {
                text: 'Guinea Ecuatorial',
                callback: () => console.log('delete')
            },
            {
                text: 'Guyana',
                callback: () => console.log('delete')
            },
            {
                text: 'Haití',
                callback: () => console.log('delete')
            },
            {
                text: 'Honduras',
                callback: () => console.log('delete')
            },
            {
                text: 'Hong Kong',
                callback: () => console.log('delete')
            },
            {
                text: 'Hungría',
                callback: () => console.log('delete')
            },
            {
                text: 'India',
                callback: () => console.log('delete')
            },
            {
                text: 'Indonesia',
                callback: () => console.log('delete')
            },
            {
                text: 'Irak',
                callback: () => console.log('delete')
            },
            {
                text: 'Irán (la República Islámica de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Irlanda',
                callback: () => console.log('delete')
            },
            {
                text: 'Isla Bouvet',
                callback: () => console.log('delete')
            },
            {
                text: 'Isla de Man',
                callback: () => console.log('delete')
            },
            {
                text: 'Isla de Navidad',
                callback: () => console.log('delete')
            },
            {
                text: 'Isla Norfolk',
                callback: () => console.log('delete')
            },
            {
                text: 'Islandia',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Caimán (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Cocos (Keeling)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Cook (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Feroe (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Georgia del sur y las islas sandwich del sur',
                callback: () => console.log('delete')
            },
            {
                text: 'Isla Heard e Islas McDonald',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Malvinas [Falkland] (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Marianas del Norte (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Marshall (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Pitcairn',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Salomón (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Turcas y Caicos (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas de Ultramar Menores de Estados Unidos (las)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Vírgenes (Británicas)',
                callback: () => console.log('delete')
            },
            {
                text: 'Islas Vírgenes (EE.UU.)',
                callback: () => console.log('delete')
            },
            {
                text: 'Israel',
                callback: () => console.log('delete')
            },
            {
                text: 'Italia',
                callback: () => console.log('delete')
            },
            {
                text: 'Jamaica',
                callback: () => console.log('delete')
            },
            {
                text: 'Japón',
                callback: () => console.log('delete')
            },
            {
                text: 'Jersey',
                callback: () => console.log('delete')
            },
            {
                text: 'Jordania',
                callback: () => console.log('delete')
            },
            {
                text: 'Kazajistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Kenia',
                callback: () => console.log('delete')
            },
            {
                text: 'Kirguistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Kiribati',
                callback: () => console.log('delete')
            },
            {
                text: 'Kuwait',
                callback: () => console.log('delete')
            },
            {
                text: 'Lao, (la) República Democrática Popular',
                callback: () => console.log('delete')
            },
            {
                text: 'Lesoto',
                callback: () => console.log('delete')
            },
            {
                text: 'Letonia',
                callback: () => console.log('delete')
            },
            {
                text: 'Líbano',
                callback: () => console.log('delete')
            },
            {
                text: 'Liberia',
                callback: () => console.log('delete')
            },
            {
                text: 'Libia',
                callback: () => console.log('delete')
            },
            {
                text: 'Liechtenstein',
                callback: () => console.log('delete')
            },
            {
                text: 'Lituania',
                callback: () => console.log('delete')
            },
            {
                text: 'Luxemburgo',
                callback: () => console.log('delete')
            },
            {
                text: 'Macao',
                callback: () => console.log('delete')
            },
            {
                text: 'Madagascar',
                callback: () => console.log('delete')
            },
            {
                text: 'Malasia',
                callback: () => console.log('delete')
            },
            {
                text: 'Malaui',
                callback: () => console.log('delete')
            },
            {
                text: 'Maldivas',
                callback: () => console.log('delete')
            },
            {
                text: 'Malí',
                callback: () => console.log('delete')
            },
            {
                text: 'Malta',
                callback: () => console.log('delete')
            },
            {
                text: 'Marruecos',
                callback: () => console.log('delete')
            },
            {
                text: 'Martinica',
                callback: () => console.log('delete')
            },
            {
                text: 'Mauricio',
                callback: () => console.log('delete')
            },
            {
                text: 'Mauritania',
                callback: () => console.log('delete')
            },
            {
                text: 'Mayotte',
                callback: () => console.log('delete')
            },
            {
                text: 'México',
                callback: () => console.log('delete')
            },
            {
                text: 'Micronesia (los Estados Federados de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Moldavia (la República de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Mónaco',
                callback: () => console.log('delete')
            },
            {
                text: 'Mongolia',
                callback: () => console.log('delete')
            },
            {
                text: 'Montenegro',
                callback: () => console.log('delete')
            },
            {
                text: 'Montserrat',
                callback: () => console.log('delete')
            },
            {
                text: 'Mozambique',
                callback: () => console.log('delete')
            },
            {
                text: 'Namibia',
                callback: () => console.log('delete')
            },
            {
                text: 'Nauru',
                callback: () => console.log('delete')
            },
            {
                text: 'Nepal',
                callback: () => console.log('delete')
            },
            {
                text: 'Nicaragua',
                callback: () => console.log('delete')
            },
            {
                text: 'Níger (el)',
                callback: () => console.log('delete')
            },
            {
                text: 'Nigeria',
                callback: () => console.log('delete')
            },
            {
                text: 'Niue',
                callback: () => console.log('delete')
            },
            {
                text: 'Noruega',
                callback: () => console.log('delete')
            },
            {
                text: 'Nueva Caledonia',
                callback: () => console.log('delete')
            },
            {
                text: 'Nueva Zelanda',
                callback: () => console.log('delete')
            },
            {
                text: 'Omán',
                callback: () => console.log('delete')
            },
            {
                text: 'Países Bajos (los)',
                callback: () => console.log('delete')
            },
            {
                text: 'Pakistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Palaos',
                callback: () => console.log('delete')
            },
            {
                text: 'Palestina, Estado de',
                callback: () => console.log('delete')
            },
            {
                text: 'Panamá',
                callback: () => console.log('delete')
            },
            {
                text: 'Papúa Nueva Guinea',
                callback: () => console.log('delete')
            },
            {
                text: 'Paraguay',
                callback: () => console.log('delete')
            },
            {
                text: 'Perú',
                callback: () => console.log('delete')
            },
            {
                text: 'Polinesia Francesa',
                callback: () => console.log('delete')
            },
            {
                text: 'Polonia',
                callback: () => console.log('delete')
            },
            {
                text: 'Portugal',
                callback: () => console.log('delete')
            },
            {
                text: 'Puerto Rico',
                callback: () => console.log('delete')
            },
            {
                text: 'Reino Unido (el)',
                callback: () => console.log('delete')
            },
            {
                text: 'República Centroafricana (la)',
                callback: () => console.log('delete')
            },
            {
                text: 'República Checa (la)',
                callback: () => console.log('delete')
            },
            {
                text: 'Macedonia (la antigua República Yugoslava de)',
                callback: () => console.log('delete')
            },
            {
                text: 'Congo',
                callback: () => console.log('delete')
            },
            {
                text: 'Congo (la República Democrática del)',
                callback: () => console.log('delete')
            },
            {
                text: 'República Dominicana (la)',
                callback: () => console.log('delete')
            },
            {
                text: 'Reunión',
                callback: () => console.log('delete')
            },
            {
                text: 'Ruanda',
                callback: () => console.log('delete')
            },
            {
                text: 'Rumania',
                callback: () => console.log('delete')
            },
            {
                text: 'Rusia, (la) Federación de',
                callback: () => console.log('delete')
            },
            {
                text: 'Sahara Occidental',
                callback: () => console.log('delete')
            },
            {
                text: 'Samoa',
                callback: () => console.log('delete')
            },
            {
                text: 'Samoa Americana',
                callback: () => console.log('delete')
            },
            {
                text: 'San Bartolomé',
                callback: () => console.log('delete')
            },
            {
                text: 'San Cristóbal y Nieves',
                callback: () => console.log('delete')
            },
            {
                text: 'San Marino',
                callback: () => console.log('delete')
            },
            {
                text: 'San Martín (parte francesa)',
                callback: () => console.log('delete')
            },
            {
                text: 'San Pedro y Miquelón',
                callback: () => console.log('delete')
            },
            {
                text: 'San Vicente y las Granadinas',
                callback: () => console.log('delete')
            },
            {
                text: 'Santa Helena, Ascensión y Tristán de Acuña',
                callback: () => console.log('delete')
            },
            {
                text: 'Santa Lucía',
                callback: () => console.log('delete')
            },
            {
                text: 'Santo Tomé y Príncipe',
                callback: () => console.log('delete')
            },
            {
                text: 'Senegal',
                callback: () => console.log('delete')
            },
            {
                text: 'Serbia',
                callback: () => console.log('delete')
            },
            {
                text: 'Seychelles',
                callback: () => console.log('delete')
            },
            {
                text: 'Sierra leona',
                callback: () => console.log('delete')
            },
            {
                text: 'Singapur',
                callback: () => console.log('delete')
            },
            {
                text: 'Sint Maarten (parte holandesa)',
                callback: () => console.log('delete')
            },
            {
                text: 'Siria, (la) República Árabe',
                callback: () => console.log('delete')
            },
            {
                text: 'Somalia',
                callback: () => console.log('delete')
            },
            {
                text: 'Sri Lanka',
                callback: () => console.log('delete')
            },
            {
                text: 'Suazilandia',
                callback: () => console.log('delete')
            },
            {
                text: 'Sudáfrica',
                callback: () => console.log('delete')
            },
            {
                text: 'Sudán (el)',
                callback: () => console.log('delete')
            },
            {
                text: 'Sudán del Sur',
                callback: () => console.log('delete')
            },
            {
                text: 'Suecia',
                callback: () => console.log('delete')
            },
            {
                text: 'Suiza',
                callback: () => console.log('delete')
            },
            {
                text: 'Surinam',
                callback: () => console.log('delete')
            },
            {
                text: 'Svalbard y Jan Mayen',
                callback: () => console.log('delete')
            },
            {
                text: 'Tailandia',
                callback: () => console.log('delete')
            },
            {
                text: 'Taiwán (Provincia de China)',
                callback: () => console.log('delete')
            },
            {
                text: 'Tanzania, República Unida de',
                callback: () => console.log('delete')
            },
            {
                text: 'Tayikistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Territorio Británico del Océano Índico (el)',
                callback: () => console.log('delete')
            },
            {
                text: 'Territorios Australes Franceses (los)',
                callback: () => console.log('delete')
            },
            {
                text: 'Timor-Leste',
                callback: () => console.log('delete')
            },
            {
                text: 'Togo',
                callback: () => console.log('delete')
            },
            {
                text: 'Tokelau',
                callback: () => console.log('delete')
            },
            {
                text: 'Tonga',
                callback: () => console.log('delete')
            },
            {
                text: 'Trinidad y Tobago',
                callback: () => console.log('delete')
            },
            {
                text: 'Túnez',
                callback: () => console.log('delete')
            },
            {
                text: 'Turkmenistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Turquía',
                callback: () => console.log('delete')
            },
            {
                text: 'Tuvalu',
                callback: () => console.log('delete')
            },
            {
                text: 'Ucrania',
                callback: () => console.log('delete')
            },
            {
                text: 'Uganda',
                callback: () => console.log('delete')
            },
            {
                text: 'Uruguay',
                callback: () => console.log('delete')
            },
            {
                text: 'Uzbekistán',
                callback: () => console.log('delete')
            },
            {
                text: 'Vanuatu',
                callback: () => console.log('delete')
            },
            {
                text: 'Santa Sede[Estado de la Ciudad del Vaticano] (la)',
                callback: () => console.log('delete')
            },
            {
                text: 'Venezuela, República Bolivariana de',
                callback: () => console.log('delete')
            },
            {
                text: 'Viet Nam',
                callback: () => console.log('delete')
            },
            {
                text: 'Wallis y Futuna',
                callback: () => console.log('delete')
            },
            {
                text: 'Yemen',
                callback: () => console.log('delete')
            },
            {
                text: 'Yibuti',
                callback: () => console.log('delete')
            },
            {
                text: 'Zambia',
                callback: () => console.log('delete')
            },
            {
                text: 'Zimbabue',
                callback: () => console.log('delete')
            },
            {
                text: 'Países no declarados',
                callback: () => console.log('delete')
            },
        ],

    }),
    computed: {

    },
    mounted() {

    },
    methods: {

        selectOption(){
            //console.log('selected'+ this.pais)
            this.$store.state.proceso.domicilio.pais= this.pais;
        }
    }
}
</script>
