<template>
<div>
   <!-- {{$store.state.cliente.nombre}}
   {{$store.state.proceso.step01.ingresos[0].select}} -->
    <v-card style="margin-top:0px" class="mx-auto" max-width="1024">
        <v-img 
        src="https://utaxon.com/img/BIENVENIDA.png"
        lazy-src="https://picsum.photos/id/11/100/60" 
        max-height="400"
        class="grey lighten-2"
         :aspect-ratio="16/9">
         <template v-slot:placeholder>
        <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
        >
          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
        </v-row>
      </template>
         </v-img>
        <v-card-title>
            <div class="headline mb-2">Bienvenido, por favor agregue información a las siguientes secciones</div>
            <v-row dense>
                <v-col cols="12" style="height:30px">
                    <div class="subtitle font-weight-regular grey--text">Su información nos ayuda a conocerlo mejor</div>
                </v-col>
            </v-row>
        </v-card-title>
        <!-- <v-row class="px-4 grey--text" align="center">
        </v-row> -->

        <v-divider class="mt-6 mx-3"></v-divider>

        <v-card-text>

            <v-chip-group v-model="amenities" column multiple active-class="green--text text--accent-4" mandatory>
                <v-chip outlined @click="setStep('0')"><v-icon left>monetization_on</v-icon>Ingresos</v-chip>
                <v-chip outlined @click="setStep('1')"><v-icon left>public</v-icon>Ubicación</v-chip>
                <v-chip outlined @click="setStep('2')"><v-icon left>location_city</v-icon>Propiedades</v-chip>
                <v-chip outlined @click="setStep('3')"><v-icon left>date_range</v-icon>Dias rentados</v-chip>
                <v-chip outlined @click="setStep('4')"><v-icon left>group</v-icon>Usuarios aproximados</v-chip>
                <v-chip outlined @click="setStep('5')"><v-icon left>add_comment</v-icon>Comentarios</v-chip>
                <v-chip outlined @click="setStep('6')"><v-icon left>check_box_outline_blank</v-icon>Datos del RFC</v-chip>
                <v-chip outlined @click="setStep('7')"><v-icon left>offline_pin</v-icon>Datos de la FIEL</v-chip>
                
            </v-chip-group>

        </v-card-text>
    </v-card>

<!-- dialogo inicio -->
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card class="mx-auto">
                <v-container>
                    <v-row dense>
                        <v-col cols="12">
                            <v-card color="#0288D1" dark>
                                <v-card-title class="headline">Tu descuento te está esperando.</v-card-title>
                                <v-card-subtitle>El 10% de descuento se aplicará automáticamente al completar el registro.</v-card-subtitle>
                                <v-card-actions>
                                    <v-btn text>Eres afortunado!</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col v-for="(item, i) in items" :key="i" cols="12">
                            <v-card :color="item.color" dark>
                                <div class="d-flex flex-no-wrap justify-space-between">
                                    <div>
                                        <!-- <v-card-title class="headline"  v-text="item.title"></v-card-title> -->
                                        <span class="headline" style="display: inline-block;margin-left: 14px;">Apreciable, {{$store.state.cliente.nombre}}</span>
                                        <v-card-subtitle v-text="item.artist"></v-card-subtitle>
                                    </div>
                                    <v-avatar class="ma-3" size="125" tile>
                                        <v-img :src="item.src"></v-img>
                                    </v-avatar>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="12" offset-sm="0">
                            <v-card>
                                <v-list two-line>
                                    <template v-for="(item, index) in notas.slice(0, 6)">
                                        <v-subheader style="color:cornflowerblue" v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
                                        <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>
                                        <v-list-item v-else :key="item.title" @click="">
                                            <v-list-item-avatar>
                                                <img :src="item.avatar">
                                            </v-list-item-avatar>
                                            <v-list-item-content>
                                                <v-list-item-title v-html="item.title"></v-list-item-title>
                                                <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-list>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">Continuar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>


<!-- ingresos -->
    <v-dialog v-model="dialog0" persistent max-width="600px" >
      <step01></step01>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog0 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
    <!-- ubicacion -->
    <v-dialog v-model="dialog1" persistent max-width="600px" >
      <step02></step02>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog1 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
    <!-- propiedades -->
    <v-dialog v-model="dialog2" persistent max-width="600px" >
      <step03></step03>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog2 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
    <!-- dias al mes rentada -->
    <v-dialog v-model="dialog3" persistent max-width="600px" >
      <step04></step04>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog3 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
    <!-- usuarios al mes rentada -->
    <v-dialog v-model="dialog4" persistent max-width="600px" >
      <step05></step05>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog4 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
     <!-- comentarios -->
    <v-dialog v-model="dialog5" persistent max-width="600px" >
      <step06></step06>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog5 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
     <!--  rfc -->
    <v-dialog v-model="dialog6" persistent max-width="600px" >
      <step07></step07>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
          <v-btn
            color="primary" text @click="dialog6 = false">Continuar </v-btn>
        </v-card-actions>
    </v-dialog>
     <!--  fiel -->
    <v-dialog v-model="dialog7" persistent max-width="600px" >
      <step08></step08>
      <v-card-actions style="background-color:#fff">
          <v-spacer></v-spacer>
           <v-btn
            class="ma-2"
            :loading="loading"
            :disabled="loading"
            depressed
            color="primary"
            @click="loader = 'loading'"
            >
      Enviar
    </v-btn>
        </v-card-actions>
    </v-dialog>



    <!--propuesta-->
    <v-row justify="center">
        <v-dialog v-model="dialogPropuesta" persistent max-width="600px">
            <v-card class="mx-auto">

                <v-window v-model="step">
                    <v-window-item :value="1">
                        <Propuesta></Propuesta>
                    </v-window-item>

                    <v-window-item :value="2">
                        <Propuesta2></Propuesta2>
                    </v-window-item>

                    <v-window-item :value="3">
                        <CreditCardForm></CreditCardForm>
                    </v-window-item>

                    <v-window-item :value="4">
                        <Final></Final>
                    </v-window-item>

                </v-window>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-btn :disabled="step === 1" text @click="step--">Anterior</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn v-if="btnMasTardeVisible" text @click="dialogPropuesta=false">Más tarde</v-btn>

                    <!-- <v-btn color="primary" depressed @click="validaNext">{{btnSiguiente}}</v-btn> -->
                      <v-btn
                            :loading="loading"
                            :disabled="loading"
                            color="primary"
                            depressed
                            @click="validaNext"
                            > {{btnSiguiente}}
                    </v-btn>
                </v-card-actions>
            </v-card>

        </v-dialog>
    </v-row>

     

</div>
</template>

<script>
import Step01 from './Step01';
import Step02 from './Step02';
import Step03 from './Step03';
import Step04 from './Step04';
import Step05 from './Step05';
import Step06 from './Step06';
import Step07 from './Step07';
import Step08 from './Step08';
import Step09 from './Step09';
import Step10 from './Step10';
import Step11 from './Step11';
import Step12 from './Step12';
import Step13 from './Step13';
import Step14 from './Step14';
import stepPropuesta from './StepPropuesta'
import Propuesta from './Propuesta01';
import Propuesta2 from './Propuesta02'
import CreditCardForm from './CreditCardForm'
import Final from './Final'

export default {
    components: {
        Step01,
        Step02,
        Step03,
        Step04,
        Step05,
        Step06,
        Step07,
        Step08,
        Step09,
        Step10,
        Step11,
        Step12,
        Step13,
        Step14,
        stepPropuesta,
        Propuesta,
        Propuesta2,
        CreditCardForm,
        Final
    },
    data: () => ({
        btnMasTardeVisible:false,
        loader: null,
        loader2: null,
        loading: false,
        amenities: [0],
          dialog0:false,
          dialog1:false,
          dialog2:false,
          dialog3:false,
          dialog4:false,
          dialog5:false,
          dialog6:false,
          dialog7:false,
          dialog8:false,
          dialog9:false,
          dialog10:false,
          dialog11:false,
          dialog12:false,
          dialog13:false,
          dialogPropuesta:false,
        step: 1,
        e6: '1',
        dialog: true,
        items: [{
            color: '#FB8C00',
            src: require('@/assets/BIENVENIDA.png'),
            title: 'Apreciablex, José Manuel!',
            artist: 'Agradecemos la oportunidad de presentar nuestra propuesta de servicios como Despacho Contable El paquete de servicio que ponemos a su disposición es:',
        }],
        notas: [{
                header: 'Siguientes pasos'
            },
            {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                title: 'Situación fiscal',
                subtitle: "<span class='text--primary'></span>Entenderemos rápidamente tu situación fiscal ante el SAT"
            },
            {
                divider: true,
                inset: true
            },
            {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                title: 'Trataremos de que pagues menos<span class="grey--text text--lighten-1"> $</span>',
                subtitle: "<span class='text--primary'></span>Verificaremos si hay alguna forma de reducir el pago de impuesto."
            },
            {
                divider: true,
                inset: true
            },
            {
                avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                title: 'Oferta de valor',
                subtitle: "<span class='text--primary'></span>Te presentaremos nuestra propuesta de servicio"
            },
        ],
    }),
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l];
       setTimeout(() => {
           this.dialog7 = false;
           this.dialogPropuesta=true;
         return (this[l]=false);
       }, 2500)

        this.loader = null
           
           

      },
      loader2 () {
        const l = this.loader2
        this[l] = !this[l];
       setTimeout(() => {
           
         return (this[l]=false);
       }, 500)

        this.loader2 = null
           
           

      },
    },
    methods: {
        validaNext() {
            this.loader2 = 'loading';

            this.step++;
            console.log(this.step);

            if (this.step > 4) {
                this.dialogPropuesta = false;
            }
        },
        setStep(paso) {
          //console.log('--->'+paso+'<---');
          this.dialog0=false;
          this.dialog1=false;
          this.dialog2=false;
          this.dialog3=false;
          this.dialog4=false;
          this.dialog5=false;
          this.dialog6=false;
          this.dialog7=false;
          this.dialog8=false;
          this.dialog9=false;
          this.dialog10=false;
          this.dialog11=false;
          this.dialog12=false;
          this.dialog13=false;

          switch(paso){
            case "0": this.dialog0=true;break;//ingresos
            case "1": this.dialog1=true;break;//ubicacion
            case "2": this.dialog2=true;break;//propiedades
            case "3": this.dialog3=true;break;//dias rentados
            case "4": this.dialog4=true;break;//usuarios rentados
            case "5": this.dialog5=true;break;//comentarios
            case "6": this.dialog6=true;break;//rfc opciones
            case "7": this.dialog7=true;break;//fiel opciones
          }
          
        },
        blinds() {
            alert('Toggling Blinds...')
        },
        lights() {
            alert('Toggling lights...')
        },

    },
    computed: {
        btnSiguiente(){
            //console.log("validando next");
            //console.log(this.step);

             if(this.step >= 2 && this.step < 4){
               // console.log("entro a prenderlo");
              //show mas tarde option 
              this.btnMasTardeVisible=true; 
            }else{
                this.btnMasTardeVisible=false; 
            }
           // console.log(this.btnMasTardeVisible);


            if(this.step <2)return "Siguiente";
            if(this.step == 2)return "Pagar";
            if(this.step == 3)return "Pagar";
            if(this.step == 4)return "Cerrar";

           

            
        },
        currentTitle() {
            switch (this.step) {
                case 1:
                    return '¿Ganó algún otro ingreso además de Airbnb el año pasado?'
                case 2:
                    return '¿Cuál es el pais de residencia actual?'
                default:
                    return '¿Cuál es el estado de la republica mexicana?'
            }
        },
    },

}
</script>
<style scoped>
 .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>