<template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
      <paises></paises>
      <estados></estados>
      <municipios></municipios>
    </v-container>
  
  </v-card>
  
</template>

<script>

import Paises from './Paises';
import Estados from './Estados';
import Municipios from './Municipios';

  export default {
    components: {
     Paises,Estados,Municipios
    },
    data: () => ({
      address: '',
      dialogPropuesta:true,
      e6: '1',
      dialog: false,
      
      
       
      
    }),
    computed: {

    },
      mounted() {
            
        },
    methods: {
     
      // actualizaEstatus(ingreso,index){
      //   console.log(ingreso);
      //   //this.$store.state.cliente.nombre= this.name;
      //   //this.$store.state.proceso.step01.ingresos[index].select= !ingreso.select;
      // },
        // getIngresos() {
        //  console.log($store.state.proceso.step01.ingresos);
        //     return $store.state.proceso.step01.ingresos;
        // },
    }
  }
</script>