<template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
      <cuenta-rfc></cuenta-rfc>
      <captura-rfc v-if="$store.state.bTengoRFC"></captura-rfc>
      <contrasena-rfc v-if="$store.state.bTengoRFC"></contrasena-rfc>
    </v-container>
  
  </v-card>
  
</template>

<script>

import CuentaRfc from './CuentaRfc';
import CapturaRfc from './CapturaRfc';
import ContrasenaRfc from './ContrasenaRfc';

  export default {
    components: {
     CuentaRfc,CapturaRfc,ContrasenaRfc
    },
    data: () => ({
      address: '',
      dialogPropuesta:true,
      e6: '1',
      dialog: false,
    }),
    computed: {
    },
      mounted() {
        },
    methods: {
    }
  }
</script>