<template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
       <v-row dense>
        <v-col cols="12">
          <v-card style="height:95px" color="blue" dark >
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿De Cuantas propiedades recibe ingresos?</v-card-title>
            <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn color="#b3d4fc" text  v-on="on">¿Para que sirve?.</v-btn>
                </template>
                <span>Se considera una propiedad al domicilio del inmueble no importando si renta un cuarto o toda su casa. Si tiene otro cuarto de su propiedad por el que recibe ingreso y es una dirección diferente, favor de considerarlo como otra propiedad.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Ver tips.</v-card-subtitle> -->
          </v-card>
        </v-col>
        <v-col  cols="12">
           <!-- contenido -->
                 <v-overflow-btn
                  class="my-2"
                  :items="dropdown_edit"
                  label="Seleccionar..."
                  editable
                  background-color="white"
                  item-value="text"
                  @change="selectOption"
                  v-model="propiedades"
                  counter
                  filled
                  loading
                ></v-overflow-btn>

             <div style="width:100%;text-align:center">
                  <v-avatar 
                    class="ma-3"
                    size="320"
                    :aspect-ratio="16/9"
                    >
                    <v-img src="https://utaxon.com/img/PROPIEDADES.png"></v-img>
                  </v-avatar>
             </div>
           <!-- fin contenido -->
        </v-col>
      </v-row>


    </v-container>
  </v-card>
  
</template>

<script>


  export default {
    components: {

    },
    data: () => ({
      propiedades:0,
      dialog: false,
      dropdown_edit: [
        { text: '1', callback: () => console.log('delete') },
        { text: '2', callback: () => console.log('delete') },
        { text: '3', callback: () => console.log('delete') },
        { text: '4', callback: () => console.log('delete') },
        { text: '5', callback: () => console.log('delete') },
        { text: '6', callback: () => console.log('delete') },
        { text: '7', callback: () => console.log('delete') },
        { text: '8', callback: () => console.log('delete') },
        { text: '9', callback: () => console.log('delete') },
        { text: '10', callback: () => console.log('delete') },
      ],
    }),
    computed: {

    },
      mounted() {
            
        },
    methods: {
       selectOption(){
            //console.log('selected'+ this.propiedades)
            
            this.$store.state.proceso.propiedades.cantidad= this.propiedades;
        }
    }
  }
</script>