<template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
      
      <v-row dense>
        <v-col cols="12">
          <v-card style="height:83px" color="blue" dark >
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Ganó algún otro ingreso además de Airbnb el año pasado?</v-card-title>
            <v-card-subtitle>Seleccione todo lo que aplica.</v-card-subtitle>
          </v-card>
        </v-col>
        <v-col  cols="12">
           <!-- contenido -->
                  <v-row dense>
                    <v-col
                      v-for="(ingreso, index) in this.$store.getters.getIngresos"
                      :key="ingreso.title"
                      :cols="ingreso.flex"
                    >
                    <v-hover v-slot:default="{ hover }">
                       <div v-ripple style="cursor:pointer" v-on:click="actualizaEstatus(ingreso,index)" :class="{'bordeResaltado' :ingreso.select}">
                        <v-card style="font-size:12px;" height="110px" :elevation="hover ? 16 : 2" :class="{ 'on-hover': hover }" >
                          <v-row style="margin-left:-12px;margin-right:-12px;">
                          <v-col cols="6">
                             <v-img style="max-width: 134%;"
                              :src="ingreso.src"
                              class="white--text align-center"
                              gradient="to bottom, rgba(158,158,158,0.1), rgba(158,158,158,0.7)"
                              width="90x" height="90px"
                              >
                            </v-img>
                          </v-col>
                           <v-col cols="6">
                            <v-card-title style="position: absolute;margin-left: -17px;padding:0px;word-break: break-word;line-height: 0.8rem;font-size:12px;font-weight:400!important"  v-html="ingreso.title"></v-card-title>
                          </v-col>
                          </v-row>
                         
                          <!-- <v-card-actions style="height:22px;font-weight:400" >
                            
                            <v-spacer></v-spacer>
                            {{ingreso.categoria}}
                            <v-spacer></v-spacer>
                            
                            
                          </v-card-actions> -->
                        </v-card>
                      </div>
                    </v-hover>
                    </v-col>
                  </v-row>
           <!-- fin contenido -->
        </v-col>
      </v-row>


    </v-container>
  
  </v-card>
  
</template>

<script>

  export default {
    components: {
     
    },
    data: () => ({
      dialogPropuesta:true,
      e6: '1',
      dialog: false,
      garantia:'https://previews.123rf.com/images/nerthuz/nerthuz1304/nerthuz130400003/18840808-satisfaction-guaranteed-label-with-gold-badge-sign.jpg',
      items: [
        {
          color: '#FB8C00',
          src: 'https://www.youtravel.com.au/wp-content/uploads/2017/05/airbnb.jpg',
          title: 'Apreciable, José Manuel!',
          artist: 'Agradecemos la oportunidad de presentar nuestra propuesta de servicios como Despacho Contable El paquete de servicio que ponemos a su disposición es:',
        }
      ],
      itemsPropuesta: [
        {
          color: '#fff',
          src: 'https://previews.123rf.com/images/nerthuz/nerthuz1304/nerthuz130400003/18840808-satisfaction-guaranteed-label-with-gold-badge-sign.jpg',
          title: 'Apreciable, José Manuel!',
          artist: 'Agradecemos la oportunidad de presentar nuestra propuesta de servicios como Despacho Contable El paquete de servicio que ponemos a su disposición es:',
        }
      ],
       propuestaItems: [
        { header: '.' },
        { avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg', title: 'Emisión de facturas', subtitle: "<ul><li>EMISION DE XX FACTURAS A TUS CLIENTES (*)</li><li>EMISION DE FACTURAS AL PUBLICO EN GENERAL</li></ul>" },
        { divider: true, inset: true },
        { avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg', title: 'Declaraciones', subtitle: "<ul><li>CALCULO DE IMPUESTOS PARA DECLARACIONES PROVISIONALES</li><li>PRESENTACION DE DECLARACIONES INFORMATIVAS</li><li>PRESENTACION DE DECLARACION ANUAL (CUANDO APLIQUE)</li></ul>" },
        { divider: true, inset: true },
        { avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg', title: 'Asesorias y seguimiento', subtitle: "<lu><li>ASESORIAS FISCALES</li><li>TIPS PARA MEJOR DEDUCCIONES DE IMPUESTOS</li><li>ASESORIAS PERSONALIZADAS (TELEFONO, WHATSAPP, SKYPE, CORREO)</li><li>PLATFORMA WEB (CALCULOS DE IMPUESTOS, SEGUIMIENTO DECLARACIONES)</li></lu>" },
      ],
    }),
    computed: {
        getxxxx() {
         
         
            return [] ;
        },
    },
    methods: {
      actualizaEstatus(ingreso,index){
        console.log(ingreso);
        //this.$store.state.cliente.nombre= this.name;
        
        this.$store.state.proceso.step01.ingresos[index].select= !ingreso.select;
           
        
       //ingreso.select = !ingreso.select
      },

    }

  }
</script>
<style scoped>
.bordeResaltado{
  border-color:#85d609;
  border-style:solid;
  border-width: 2px;
  border-radius: 8px;
}
</style>