<template>
     <v-card style="height:570px"
    class="mx-auto">
    <v-container>
      <fiel></fiel>
      <certificados></certificados>
    </v-container>
  </v-card>
  
</template>

<script>

import Fiel from './Fiel';
import ArchivosFiel from './ArchivosFiel';
import Certificados from './Certificados';

  export default {
    components: {
     Fiel,ArchivosFiel,Certificados
    },
    data: () => ({

    }),
    computed: {
    },
      mounted() {
        },
    methods: {
    }
  }
</script>