 <template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
       <v-row dense>
        <v-col cols="12">
          <v-card style="height:100px" color="blue" dark >
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">Cualquier comentario adicional acerca de los ingresos de su propiedad</v-card-title>
           <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn style="margin-top:-5px" color="#b3d4fc" text  v-on="on">Qué significa?</v-btn>
                </template>
                <span>Para hacerle una mejor recomendación, describa en caso de contar con un ingreso
adicional, tales como: renta de auto, guia de turista, lavandería, servicios adicionales, etc.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>Qué significa?</v-card-subtitle> -->
          </v-card>
        </v-col>
        <v-col  cols="12">
           <!-- contenido -->
                  <p>Ingrese sus comentarios adicionales</p>
                  <v-textarea
                  v-model="comentario"
                  no-resize
                  filled
                  color="deep-purple"
                  prepend-icon="comment"
                  solo
                  label="Comentarios"
                  clearable
                  clear-icon="cancel"
                  loading=true
                  background-color="amber lighten-4"
                  counter
                  @keyup="selectOption"
                  rows="4"
                  :rules="rules"
                ></v-textarea>
                 <!-- <v-avatar class="" style="width:400px;height:auto" tile>
                    <img src="@/assets/COMENTARIO.png"/>        
                 </v-avatar> -->
                 <div style="width:100%;text-align:center">
                  <v-avatar 
                    class="ma-3"
                    size="270"
                    :aspect-ratio="16/9"
                    >
                    <v-img src="https://utaxon.com/img/COMENTARIO.png"></v-img>
                  </v-avatar>
                 </div>
                  
           <!-- fin contenido -->
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  
</template>

<script>


  export default {
    components: {

    },
    data: () => ({
      dialog: false,
      comentario:'',
     rules: [v => v.length <= 255 || 'Max 255 characters'],
    }),
    computed: {

    },
      mounted() {
            
        },
    methods: {
       selectOption(){
           // console.log('selected'+ this.comentario)
            
            this.$store.state.proceso.comentarios.comentario= this.comentario;
        }
    }
  }
</script>