<template>
     <v-card style="height:600px"
    class="mx-auto">
    <v-container>
       <v-row dense>
        <v-col cols="12">
          <v-card style="height:95px" color="blue" dark >
            <v-card-title class="subtitle-1" style="font-weight:bold;word-break: break-word;line-height: 1rem;">¿Cantidad de días al mes, que está rentada la propiedad?</v-card-title>
            <v-tooltip right color="green">
                <template v-slot:activator="{ on }">
                    <v-btn color="#b3d4fc" text  v-on="on">¿Para que sirve?.</v-btn>
                </template>
                <span>Considera todas las propiedades por las que percibes ingresos y pon los días que está ocupada al mes, porque ahora tus clientes estarán solicitando facturación electrónica por el servicio de hospedaje.</span>
            </v-tooltip>
            <!-- <v-card-subtitle>¿Porqué se requiere?</v-card-subtitle> -->
          </v-card>
        </v-col>
        <v-col  cols="12">
           <!-- contenido -->
                 <v-overflow-btn
                  class="my-2"
                  :items="dropdown_edit"
                  label="Seleccionar..."
                  editable
                  background-color="white"
                  item-value="text"
                  @change="selectOption"
                  v-model="diasRentados"
                  counter
                  filled
                  loading
                ></v-overflow-btn>

                 <!-- <v-avatar class="" style="width:400px;height:auto" tile>
                    <img src="@/assets/CANTIDAD-DIAS.png"/>        
                 </v-avatar> -->
                  <!-- <v-avatar 
                    class="ma-3"
                    size="280"
                    :aspect-ratio="16/9"
                    >
                    <v-img src="https://utaxon.com/img/CANTIDAD-DIAS.png"></v-img>
                  </v-avatar> -->
                  <div style="width:100%;text-align:center">
                  <v-avatar 
                    class="ma-3"
                    size="320"
                    :aspect-ratio="16/9"
                    >
                    <v-img src="https://utaxon.com/img/CANTIDAD-DIAS.png"></v-img>
                  </v-avatar>
                  </div>
           <!-- fin contenido -->
        </v-col>
      </v-row>


    </v-container>
  </v-card>
  
</template>

<script>


  export default {
    components: {

    },
    data: () => ({
      diasRentados:0,
      dialog: false,
      dropdown_edit: [
        { text: '1', callback: () => console.log('delete') },
        { text: '2', callback: () => console.log('delete') },
        { text: '3', callback: () => console.log('delete') },
        { text: '4', callback: () => console.log('delete') },
        { text: '5', callback: () => console.log('delete') },
        { text: '6', callback: () => console.log('delete') },
        { text: '7', callback: () => console.log('delete') },
        { text: '8', callback: () => console.log('delete') },
        { text: '9', callback: () => console.log('delete') },
        { text: '10', callback: () => console.log('delete') },
        { text: '11', callback: () => console.log('delete') },
        { text: '12', callback: () => console.log('delete') },
        { text: '13', callback: () => console.log('delete') },
        { text: '14', callback: () => console.log('delete') },
        { text: '15', callback: () => console.log('delete') },
        { text: '16', callback: () => console.log('delete') },
        { text: '17', callback: () => console.log('delete') },
        { text: '18', callback: () => console.log('delete') },
        { text: '19', callback: () => console.log('delete') },
        { text: '20', callback: () => console.log('delete') },
        { text: '21', callback: () => console.log('delete') },
        { text: '22', callback: () => console.log('delete') },
        { text: '23', callback: () => console.log('delete') },
        { text: '24', callback: () => console.log('delete') },
        { text: '25', callback: () => console.log('delete') },
        { text: '26', callback: () => console.log('delete') },
        { text: '27', callback: () => console.log('delete') },
        { text: '28', callback: () => console.log('delete') },
        { text: '29', callback: () => console.log('delete') },
        { text: '30', callback: () => console.log('delete') },
      ],
    }),
    computed: {

    },
      mounted() {
            
        },
    methods: {
      selectOption(){
            //console.log('selected'+ this.diasRentados)
            
            this.$store.state.proceso.diasRentados.cantidad= this.diasRentados;
        }
    }
  }
</script>